.parent {
  display: flex
}

.child {
  width: 100%;
  text-align: center;

}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}


.login-form {
  width: 60%;
  justify-content: space-between;
  height: 900px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: flex-end;
}

.floating {
  height: 800px;
  width: 26%;
  position: absolute;
  margin-right: 50%;
  background-color: #006E7F;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.app-name {
  color: #006E7F;
  font-size: 500%;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 10%;
}

.app-name-home {
  color: white;
  font-size: 150%;
  font-style: italic;
  /* font-weight: bold; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #006E7F;
  padding: 20px
}

.component-login {
  padding: 50px;
  display: flex;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login {
  margin-top: 100px;
  width: 50%;

}

.email-icon {
  font-size: 300%;
  margin-bottom: 3%
}

.row-mail {
  display: flex;
  justify-content: space-between;

}

.row-password-login {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.row-password {
  display: flex;
  justify-content: space-between;

}

.login-button {
  font-size: 180%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

.log-out-menu {
  color: white;
  text-align: center;
  background-color: #006E7F;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}